@import url('fonts/fonts.css');

:root {
    --primary-display: flex;
    --primary-font: 'Roboto Bold', system-ui, sans-serif;
    --logo-font-size: 4rem;
}


* {
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100dvh;
    display: var(--primary-display);
}

a, #photo-credit {
    color: white;
}

a:hover {
    text-decoration: none;
}


.left {
    position: relative;
    width: 40%;
}

.photo {
    background-image: url("images/photo.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.logo {
    display: var(--primary-display);
    justify-content: center;
    align-items: center;

    gap: 10px;
    padding: 20px;
    
    width: 100%;
    background-color: rgba(0, 0, 0, 0.712);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#logo-name {
    color: antiquewhite;
    font-size: var(--logo-font-size);
    font-family: 'Norse Bold', system-ui, sans-serif;
}

#logo-mascot {
    aspect-ratio: 1;
    width: 80px;
}

#photo-credit {
    text-align: center;
    width: 100%;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}



.right {
    display: var(--primary-display);
    justify-content: center;

    flex-grow: 1;
    flex-direction: column;

    gap: 80px;
}

#dummy-text {
    font-size: 1.5rem;
    font-family: var(--primary-font);
}

.form-container {
    position: relative;
    padding: 30px 0px;
    box-shadow: 0px 1px 6.5px 1px rgba(0,0,0,0.92)
}

.form {
    display: var(--primary-display);
}

.form > div {
    display: var(--primary-display);
    flex-direction: column;
    margin-right: 40px;
}

input {
    border: solid 2px rgba(0, 0, 0, 0.562);
    border-radius: 5px;
    padding: 5px;

    font-size: 1.5rem;
}

input:focus:invalid {
    border-color: red;
}

input:focus:valid {
    border-color: green;
}

:focus {
    outline: 0;
}

.bottom {
    display: var(--primary-display);
    flex-direction: column;
    gap: 20px;
}

#create-btn {
    color: antiquewhite;
    font-size: 1.2rem;
    
    padding: 15px 10px;
    width: 200px;

    background-color: #596D48;
    border-radius: 10px;
    border: none;

    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.92);
}

#login {
    font-family: var(--primary-font);
    color: #596D48;
}



.row-2, .row-3 {
    margin-top: 25px;
}

input, label, button {
    cursor: pointer;
    font-family: var(--primary-font);
}

.bottom > span, .form, #dummy-text, #create-btn {
    margin-left: 40px;
}



.valid {
    color: rgba(255, 0, 0, 0);
    position: absolute;
    bottom: 2%;
}

.invalid {
    opacity: 1;
    color: rgb(255, 0, 0);

    position: absolute;
    bottom: 2%;
}